#FOR DEV PURPOSE
#FOR BACK-END
GOOGLE_CLIENT_ID=65993531317-jsfm66l7uo79apo75v5pol43b2o8absv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
MONGO_URI=mongodb+srv://root:Tung123.@cluster0.cus72g5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SESSION_SECRET=Fin-bud
DEPLOYED_URL = http://localhost:8888
#FOR FRONT-END
VUE_APP_API_URL=https://finbud-ai.netlify.app/.netlify/functions
VUE_APP_NEWS_API_KEY=c7f310edfa7d4182bbeca5ff99d5cccd
ALPHA_VANTAGE_API_KEY=71OP998MZOLUNEX1
#add OPENAI-API_KEY in here as well